#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    pointer-events: none;
    z-index: 9999;
    color: white;
   
    .round{
        font-size: 14px;
        height: 64px;
        width: 64px;
        border-radius: 100%;
        background: rgba(0,0,0,1);
        white-space: nowrap;
        transform: translate(-50%, -50%) scale(0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: var(--font-secondary);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .text{
        display: flex;
        margin:auto;
        align-items: center;
        justify-content: center;
    }
  }

  body {
    cursor: none!important; /* Hide the default cursor */
  }
  @media (pointer:coarse) {
    body {
        cursor: default!important;
      }
  }